<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>
  <body>
  	<form method="POST" id="frmTransaction">
        <label>Account Number</label> 
        <input name="accountNo" type="number"/>
 
        <label>Amount</label>         
        <input name="amount" type="number"/>
 
        <input type="submit">
        
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:id="${_csrf.parameterName}" />
    </form>
  </body>
</html>
